  <div class="col-sm-7 col-md-7 pull-right">
    <!--<form class="navbar-form">
      <div class="input-group">
          <input type="text" class="form-control" name="daterange" id="daterange">
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Evolution Analysis</button>
          </div>
      </div>
    </form>-->

    <div id="daterange" class="navbar-form" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 360px">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
        [ <a href="javascript: void(0)" onclick="">Evolution Analysis</a> ]
    </div>
  </div>
