<script type="text/javascript" src="/static/js/cache/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/cache/c3.min.js"></script>
<script type="text/javascript" src="/static/js/cache/d3.min.js"></script>
<script type="text/javascript" src="/static/js/cache/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/cache/cytoscape.min.js"></script>
<script type="text/javascript" src="/static/js/cache/handlebars.min.js"></script>
<script src="/static/js/cache/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/css/cache/c3.min.css" />
<link rel="stylesheet" href="/static/css/cache/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/cache/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/static/css/cache/highlight_default.css" />